Package: com.ichitaso.apollopatcher
Name: ApolloPatcher
Version: 0.0.4
Description: Change the Apollo client ID
Section: Tweaks
Depends: mobilesubstrate
Conflicts: com.ethanarbuckle.apollo-customapicredentials, com.ryannair05.apolloapi, com.icraze.artemis
Replaces: com.ethanarbuckle.apollo-customapicredentials, com.ryannair05.apolloapi,com.icraze.artemis
Architecture: iphoneos-arm
Author: ichitaso
Maintainer: ichitaso
Depiction: https://cydia.ichitaso.com/depiction/apollopatcher.html
SileoDepiction: https://cydia.ichitaso.com/depiction/apollopatcher.json
